.socials
    ul
        li
            a(href="https://t.me/heatsteakstore" target="_blank")
                span(class=["fa-brands fa-telegram"])
        li
            a(href="#")
                span(class=["fa-brands fa-whatsapp"])
        li
            a(href="#")
                span(class=["fa-brands fa-vk"])
        