@font-face {
  font-family: generalFont;
  src: url("../fonts/AcherusFeral/AcherusFeralRegular.ttf")
    format("truetype");
}

@font-face {
  font-family: headerFont;
  src: url("../fonts/AcherusFeral/AcherusFeralBold.ttf")
    format("truetype");
}

@font-face {
  font-family: categoryFont;
  src: url("../fonts/TeddyBear/TeddyBear.ttf") format("truetype");
}
