include ./libs/_libs

section.articles 
    .container
        .articles__title
            .articles__category
                p наш блог
            h3(class="title-h4") Недавнее в телеграм
        .articles__wrapper
            .articles__left(class="col-xxl-6 col-xl-6 col-lg-12 col-md-12 col-sm-12 col-ms-12 col-xs-12")
                a(href="https://t.me/heatsteakstore") 
                    article.article-item
                        .article__img
                            +image("bg-article-left", "png")
                            .article__title 
                                span 20 авг, 22
                                h4(class="title-h4") BQ125 - проработка брискета от нашего поставщика Brutal Butcher
            .articles__right 
                article.article-item(class="col-lg-6 col-md-6 col-sm-12 col-ms-12 col-xs-12")
                    a(href="https://t.me/heatsteakstore") 
                        .article__img
                            +image("bg-article-right1", "png")
                            div.article_badge 
                                span(class="title-h3") 21
                                p авг, 22
                        .article__desc 
                            .article__category
                                a(href="#")
                                    p Мясо 
                            .article__name
                                a(href="https://t.me/heatsteakstore")
                                    h4(class="title-h3") Кубань родина мраморного мяса
                            .article__text  
                                p В Мостовском районе запущено производство прайм отрубов мраморной говядины пород Шароле и Абердин
                        .article__data
                            .article__comments
                                a(href="https://t.me/heatsteakstore")
                                    <i class="fa-solid fa-comments"></i>
                                    p 0 комм.
                            .article__views
                                <i class="fa-solid fa-eye"></i>
                                p 22 просм.
                article.article-item(class="col-lg-6 col-md-6 col-sm-12 col-ms-12 col-xs-12")
                    a(href="https://t.me/heatsteakstore")
                        .article__img
                            +video("meat", "mp4")
                            div.article_badge 
                                span(class="title-h3") 22
                                p авг, 22
                        .article__desc 
                            .article__category
                                a(href="#")
                                    p Мясо 
                            .article__name
                                a(href="https://t.me/heatsteakstore")
                                    h4(class="title-h3") Сам себе шеф
                            .article__text  
                                p Простому блюду простой рецепт
                        .article__data
                            .article__comments
                                a(href="https://t.me/heatsteakstore")
                                    <i class="fa-solid fa-comments"></i>
                                    p 0 комм.
                            .article__views
                                <i class="fa-solid fa-eye"></i>
                                p 22 просм.
