include ./libs/_libs

section.banners
    .banners__wrapper
        .banner__wrapper(class="col-sm-12 col-lg-12 col-xl-6")
            .banners__left
                .banner-item
                    .banner-item__wrapper
                        +image("text-banner", "png")
        .banners__right(class="col-sm-12 col-lg-12 col-xl-6")
            .banner__wrapper
                .banners__right-top
                    .banner-item
                        .banner-item__content
                            h3(class="title-h4") От шефа<br> <span>Фермерское мясо</span>
                            p У нас можно заказать искусно приготовленные<br>блюда из нашего ассортимента
            .banners__right-bottom
                .banner-item-left
                    .banner-item__content
                        h3(class="title-huge") 245+
                        p Ресторанов, кафе и небольших магазинов <span>сделали свой выбор</span> в пользу сотрудничества с нами. 
                .banner__wrapper
                    .banner-item-right
                        .banner-item__content
                            h3(class="title-h4") Классика <span>стейков</span>
                            p Доставка<br>в день заказа

