include ./libs/_libs

section.header__img
    #scene.header__bg
        .header__prx-img(data-depth="0.4")
            +image("meat-image-center", "png")
        .header__prx-title(data-depth="1.2")
            h2 Steak<br><span>store</span>
        .header__prx-left(data-depth="0.7")
            +image("meat-slider-leafs-1", "png")
        .header__prx-right(data-depth="0.7")
            +image("meat-slider-leafs-2", "png")
