include ./libs/_libs

.modal-apply
    .modal-apply__left
        +image("butcher","jpg")
    .modal-apply__right
        form(id="apply")
            .modal-logo 
                +image("logo_bubulla", "png")
            .modal-inputs
                .modal-selection
                    p Какой стейк:
                    label(for="steak")
                    input(name="steak" type="text" id="steak" placeholder="Какой стекйк")
                .modal-selection
                    p(class="steak-quantity") Cколько стейков (1шт/около 300гр):
                    label(for="quantity")
                    input(name="quantity" type="text" id="quantity" placeholder="Количество стейков")
                .modal-selection
                    p Адрес доставки:
                    label(for="address")
                    input(name="address" type="text" id="address" placeholder="Введите адрес")
                .modal-selection
                    p Номер телефона:
                    label(for="phone")
                    input(name="phone" type="text" id="phone" placeholder="Введите телефон")
                .modal-selection
                    p Ваше имя:
                    label(for="name")
                    input(name="name" type="text" id="name" placeholder="Введите имя")
            .modal-button 
                button.button.button--secondary 
                    span Отправить
            #answer
            .modal-close 
                div.close
                    +image("crest-black", "svg")
        
