include ./libs/_libs

section.popular-products#popular-products
    .container
        .popular-products__title
            .popular-products__category
                p онлайн магазин
            h3(class="title-h4") ТОП продаж
        .popular-products__slider
            .swiper-product
                .swiper-wrapper
                    .swiper-slide 
                        .product-item
                            .product__image
                                a(href="#")
                                    +image("slider-1","jpg") 
                                div(class="product__button") 
                                    a(href="#")
                                        div(class="button button--secondary")
                                            span Заказать
                            .product__info
                                a(href="#")
                                    h6(class="title-h5 name") Рибай (Кубань, Шароле)
                                    h6(class="title-h5 quantity") 100гр
                                .product-info__price
                                    span(class="price discount title-h5")
                                        p ₽390
                                    span(class="price title-h5")
                                        p ₽290
                                div(class="product__button info") 
                                    a(href="#")
                                        div(class="button button--secondary")
                                            span Заказать 
                    .swiper-slide 
                        .product-item
                            .product__image
                                a(href="#")
                                    +image("slider-1","jpg") 
                                span(class="product__button") 
                                    a(href="#")
                                        div(class="button button--secondary")
                                            span Заказать
                            .product__info
                                a(href="#")
                                    h6(class="title-h5 name") Рибай (СПБ, Блэк Ангус)
                                    h6(class="title-h5 quantity") 100гр
                                .product-info__price
                                    span(class="price title-h5")
                                        p ₽600     
                                div(class="product__button info") 
                                    a(href="#")
                                        div(class="button button--secondary")
                                            span Заказать            
                    .swiper-slide 
                        .product-item
                            .product__image
                                a(href="#")
                                    +image("slider-1","jpg") 
                                span(class="product__button") 
                                    a(href="#")
                                        div(class="button button--secondary")
                                            span Заказать
                            .product__info
                                a(href="#")
                                    h6(class="title-h5 name") Рибай (СПБ, Блэк Ангус Prime)
                                    h6(class="title-h5 quantity") 100гр
                                .product-info__price
                                    span(class="price title-h5")
                                        p ₽690       
                                div(class="product__button info") 
                                    a(href="#")
                                        div(class="button button--secondary")
                                            span Заказать          
                    .swiper-slide 
                        .product-item
                            .product__image
                                a(href="#")
                                    +image("slider-1","jpg") 
                                span(class="product__button") 
                                    a(href="#")
                                        div(class="button button--secondary")
                                            span Заказать
                            .product__info
                                a(href="#")
                                    h6(class="title-h5 name") Стриплойн (Кубань, Шароле)
                                    h6(class="title-h5 quantity") 100гр
                                .product-info__price
                                    span(class="price title-h5")
                                        p ₽290
                                div(class="product__button info") 
                                    a(href="#")
                                        div(class="button button--secondary")
                                            span Заказать                
                    .swiper-slide 
                        .product-item
                            .product__image
                                a(href="#")
                                    +image("slider-1","jpg") 
                                span(class="product__button") 
                                    a(href="#")
                                        div(class="button button--secondary")
                                            span Заказать
                            .product__info
                                a(href="#")
                                    h6(class="title-h5 name") Стриплойн (СПБ, Блэк Ангус)
                                    h6(class="title-h5 quantity") 100гр
                                .product-info__price
                                    span(class="price title-h5")
                                        p ₽290 
                                div(class="product__button info") 
                                    a(href="#")
                                        div(class="button button--secondary")
                                            span Заказать               
                    .swiper-slide 
                        .product-item
                            .product__image
                                a(href="#")
                                    +image("slider-1","jpg") 
                                span(class="product__button") 
                                    a(href="#")
                                        div(class="button button--secondary")
                                            span Заказать
                            .product__info
                                a(href="#")
                                    h6(class="title-h5 name") Стриплойн (СПБ, Блэк Ангус Prime)
                                    h6(class="title-h5 quantity") 100гр
                                .product-info__price
                                    span(class="price title-h5")
                                        p ₽320 
                                div(class="product__button info") 
                                    a(href="#")
                                        div(class="button button--secondary")
                                            span Заказать                
                    .swiper-slide 
                        .product-item
                            .product__image
                                a(href="#")
                                    +image("slider-1","jpg") 
                                span(class="product__button") 
                                    a(href="#")
                                        div(class="button button--secondary")
                                            span Заказать
                            .product__info
                                a(href="#")
                                    h6(class="title-h5 name") Топ Блейд (Кубань, Шароле)
                                    h6(class="title-h5 quantity") 100гр
                                .product-info__price
                                    span(class="price title-h5")
                                        p ₽170 
                                div(class="product__button info") 
                                    a(href="#")
                                        div(class="button button--secondary")
                                            span Заказать                
                    .swiper-slide 
                        .product-item
                            .product__image
                                a(href="#")
                                    +image("slider-1","jpg") 
                                span(class="product__button") 
                                    a(href="#")
                                        div(class="button button--secondary")
                                            span Заказать
                            .product__info
                                a(href="#")
                                    h6(class="title-h5 name") Топ Блейд (СПБ, Блэк Ангус)
                                    h6(class="title-h5 quantity") 100гр
                                .product-info__price
                                    span(class="price title-h5")
                                        p ₽190
                                div(class="product__button info") 
                                    a(href="#")
                                        div(class="button button--secondary")
                                            span Заказать                
                    .swiper-slide 
                        .product-item
                            .product__image
                                a(href="#")
                                    +image("slider-1","jpg") 
                                span(class="product__button") 
                                    a(href="#")
                                        div(class="button button--secondary")
                                            span Заказать
                            .product__info
                                a(href="#")
                                    h6(class="title-h5 name") Чак Ролл (Кубань, Шароле)
                                    h6(class="title-h5 quantity") 100гр
                                .product-info__price
                                    span(class="price title-h5")
                                        p ₽140
                                div(class="product__button info") 
                                    a(href="#")
                                        div(class="button button--secondary")
                                            span Заказать                
                    .swiper-slide 
                        .product-item
                            .product__image
                                a(href="#")
                                    +image("slider-1","jpg") 
                                span(class="product__button") 
                                    a(href="#")
                                        div(class="button button--secondary")
                                            span Заказать
                            .product__info
                                a(href="#")
                                    h6(class="title-h5 name") Томагавк (5-7 стейков)
                                    h6(class="title-h5 quantity") 2900гр
                                .product-info__price
                                    span(class="price title-h5")
                                        p Под заказ
                                div(class="product__button info") 
                                    a(href="#")
                                        div(class="button button--secondary")
                                            span Заказать                
                    .swiper-slide 
                        .product-item
                            .product__image
                                a(href="#")
                                    +image("slider-1","jpg") 
                                span(class="product__button") 
                                    a(href="#")
                                        div(class="button button--secondary")
                                            span Заказать
                            .product__info
                                a(href="#")
                                    h6(class="title-h5 name") Ти бон (от 4 стейков)
                                    h6(class="title-h5 quantity") от 3000гр
                                .product-info__price
                                    span(class="price title-h5")
                                        p Под заказ
                                div(class="product__button info") 
                                    a(href="#")
                                        div(class="button button--secondary")
                                            span Заказать                
                .swiper-nav
                    .swiper-button-prev
                        <i class="fa-solid fa-arrow-left-long"></i>
                    .swiper-button-next
                        <i class="fa-solid fa-arrow-right-long"></i>