include ./libs/_libs

section.sign 
        .sign__wrapper 
            .sign__left
                .sign__left-content 
                    .sign__left-quote 
                        p «Есть лишь одно удовольствие, <span>превосходящее радость от вкусной еды,</span> это удовольствие от самого приготовления.»
                    .sign__left-author 
                        p Дмитрий Бутрименко
                        +image("sign","png")
            .sign__right
                .sign__right-badge 
                    p(class="title-h5") <span class="title-h2">100%</span><br>гарантия качества

